<%= form_tag "/bus_stops", method: :get, remote: true, id: "find_bus_stops" do %>
	<div class="input-group">
		<%= text_field_tag :name, "", class: "form-control", placeholder: "バス停名を入力してください" %>
		<span class="input-group-btn">
			<%= submit_tag "検索", class: "btn btn-default" %>
		</span>
	</div>
<% end %>
<p></p>
<div id="result">
</div>
